:root {
    --background-light: #f4f4f4;
    --background-dark: #222;
    --text-dark: #222;
    --text-light: #f4f4f4;
    --border-color: #ccc;
    --link-color: #007BFF;
    --link-color-hover: #0056b3;
    --primary-color: #007BFF;
    --content-padding: 0 10rem;
}

body {
    background-color: var(--background-light);
    color: var(--text-dark);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    font-weight: 800;
}

.light {
    font-weight: 400;
}

.strong {
    font-weight: 600
}

.flex {
    display: flex;

  
}

body.problem:not(.header-transparent) > section:first-of-type {
    margin-top: 8rem;
}

.problem .flex {
    padding: var(--content-padding);
    column-gap: 4em;
}

.flex img {
    height: 20em;
    object-fit: cover;
    width: 100%;
}

header {
    display: flex;

    padding: var(--content-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .logo {
    stroke: inherit;
    height: 2.5rem;
    width: fit-content;
    transform: translateY(0.3rem);
}

header nav,
header ul {
    width: 100%;
    display: flex;
    align-items: center;
}

header nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    column-gap: 1.5rem;
    justify-content: end;
}

header nav li {

    height: fit-content;
    width: fit-content;
    
    transition-duration: 200ms;
}

header nav li::after {
    content: '';
    display: block;
    width: 0;
    border-top: 2px solid;
    transition: width 0.3s;
}

header nav li:hover::after {

   
    width: 100%;
}

header nav a {
    display: block;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 400;
   


}

header nav a {
    color: inherit;
    text-decoration: none;
}

.header .logo path {
    fill: var(--text-dark);
}

.header-transparent header {
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    width: 100%;
    color: var(--text-light);
    z-index: 10;
    box-sizing: border-box;
    background: linear-gradient(360deg, transparent 10%, rgba(0, 0, 0, 0.375));
}

.header-transparent header .logo path {
    fill: var(--text-light);
}





section {
    margin-bottom: 4em;
    padding: var(--content-padding);
}

section.hero {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    min-height: 400px;
    background-color: var(--background-dark);
    color: var(--text-light);
    background-image: url('./content/hero_1.png');
    margin: 0;
}


section.hero .text {
    position: relative;
    font-size: 3.5em;
    font-weight: 200;
    line-height: 4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    border-bottom: 3px solid ;
}

section.hero .text .subtext {
    font-weight: 600;
   
    display: block;
    margin-bottom: 1rem;
   
}

section.hero .text svg {
    position: absolute;
    right: -5.6rem;
    bottom: -2.7rem;
    height: 1.5em;
    width: 1.5em;
    margin-right: 1rem;
}

button,
.button {
    display: inline-block;
    background-color: var(--background-light);
    color: var(--text-dark);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: .8rem 2rem;

    background:
        linear-gradient(90deg, var(--background-light) 0%, var(--background-light) 50%, var(--background-dark) 50%) 0% 0%/
        /* position */
        200% 100%
        /* size (width height) */
        no-repeat
        /* don't repeat */
        rgb(200, 200, 200);
    /* background color */
    font-weight: 500;

cursor: pointer;
transition: background-position 0.3s;
position: relative;
}

.flex-w-image {
    display: flex;
    column-gap: 3rem;
}

.flex-w-image h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
    position: relative;
    display: flex;
    column-gap: 1rem;
    align-items: center;
  
}

.list-margin li {
    margin-bottom: .5rem;
}
.model {
    width: 550;
    height: 407;
    position: relative;
}
.model canvas {
    position: absolute;
    left: 0;
    top: 0;
   
    z-index: 2;
}
.diagram .page {
  
    
    column-gap: 1.5rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}
.diagram .page img {
    width: 70%;
 
    height: 20em;
    object-fit: cover;
}

.flex-w-image h2::after {
    --size: 2rem;
    content: '';
    background-image: url(/content/star.svg);
    background-size: cover;
    
    width: var(--size);
    height: var(--size);
  
    filter: brightness(0.1);
   
}

.flex-w-image model-viewer {
    width: 100%;
    height: auto;
}

/* .button::after, button::after {
    content: '';
    display: block;
    width: .2em;
    height: 100%;
    position: absolute;
    background-color: var(--background-light);
    left: calc(100% + .1em);
    bottom: 0;
} */






.button:hover,
button:hover {
    
    background-position: 100% center;
    color: var(--text-light);
}

.procons {
    position: relative;
    display: flex;
    justify-content: center;
   
   
}

.procons > div:first-child {
  
    padding-right: 4rem;
    margin-right: 4rem;
}

/* .procons::after {
    --size: 3rem;
    content: '';
    background-image: url(/content/star.svg);
    background-size: cover;
    width: var(--size);
    height: var(--size);
    position: absolute;
    right: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);
    fill: var(--background-dark);
    outline: var(--background-dark);
    filter: brightness(0);
} */

.procons > div h4 {
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
}



.procons ul {
    padding: 0;
}

.w-icon {
    display: flex;
    align-items: center;
}
.w-icon span {
    margin-right: .5em;
}

.procons .w-icon {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

section.headings-w-paragraph-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--content-padding);
    column-gap: 1.5rem;
    align-items: end;
}

.problem .flex > section {
    padding: 0;
}

section.headings-w-paragraph-side .heading, section.headings-w-paragraph .heading {
    font-weight: 300;
    font-size: 2rem;
}

section.pro-cons {
    text-align: center;
    min-width: max-content;
    margin-bottom: 7em;
}

.problem h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}
section .heading {
    min-width: max-content;
}

section.headings-w-paragraph-side div {
    border-bottom: 1px solid;
    position: relative;
}
section.headings-w-paragraph-side div::after {
    position: absolute;
    right: 0;
    top: 100%;
    content: '';
    display: block;
    width: 4rem;
    height: .3em;
    background-color: var(--background-dark);
    z-index: 5;
    
}

section.headings-w-paragraph-side.alternate-style {
    outline: 1px solid var(--background-dark);
    padding-top: 3rem;
    padding-bottom: 4rem;

}

section.headings-w-paragraph-side.alternate-style .appended-header {
    background-color: var(--background-light);
    z-index: 2;
    bottom: 100%;
    margin: 0;
    left: 7rem;
    padding: .8rem 1em;
    border: 1px solid var(--background-dark);
    border-bottom: 0;
    outline-offset: 5px;
   
}




section.paragraph-w-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--content-padding);
    column-gap: 1.5rem;
}
section.paragraph-w-image p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}
section.paragraph-w-image img {
    width: 50%;
    height: auto;
}

section.over-image {
  
    min-height: 30em;
    color: var(--text-light);
    background-image: url('./content/light_earth_shine.png');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: 80% 0%;
    margin: 0;
}

model-viewer {
    background-color: var(--background-dark);
}

.transition {
    font-size: 1rem;
    text-align: center;
}
.transition * {
    margin: 0;
}
.transition .subtext {
    margin: 0;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: .5rem;
}

section.improvements {
    display: flex;
    column-gap: 1rem;
}

section.improvements h2 {
    font-weight: 300;
}

.home .over-image h2 {
    font-size: 3rem;
    margin-bottom: 0;
    text-transform: uppercase;

}

.quoteblock {
    margin: .5rem;
    font-weight: 300;
    padding: .2rem 1rem;
    border-left: 2px solid var(--text-light);
}

section.big-page-header-paragraph h1 {
    position: relative;
    font-size: 4em;
    border-bottom: 1px solid;
}

section.big-page-header-paragraph h1::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 8rem;
    height: 1.2em;
    background-color: var(--background-dark);
    z-index: 5;
    
}

.problem .window-image {
    margin: 0;
    width: 100%;
    height: 15em;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}

section.window-image {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 8em;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.window-image img, section.window-image model-viewer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

section.textleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
 
}
section.textleft * {
    max-width: 40%;
}

section.black {
    background-color: black;
    color: var(--text-light);
}

section.page {
    position: relative;
    margin: var(--content-padding);
    padding: 3rem 4rem;
    background-color: white;
    line-height: 1.8rem;
}
section:has(.appended-header) {
    position: relative;
}
section .appended-header {
    position: absolute;
    bottom: 110%;
    
}

.problem h2 {
    font-weight: 600;
}
.problem h4 {
    font-weight: 300;
}

section.page:has(.cover) {
    padding-top: 12em;
    margin-top: 1em;
}

section.page-margins {
    margin: 4em 18em
}

section.page .cover {
    border-radius: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 10em;
    object-fit: cover;
    border-radius: 4px;
    background-color: lightgray;
}

section.quick-links {
    display: flex;
    justify-content: space-between;
}

section.diagram {
    
    background-size: cover;
    height: 80vh;
    color: var(--text-light);
    display: flex;
    align-items: center;
    position: relative;
   
   
}
section.diagram::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .95; 
    z-index: -1;
    background-image: url('content/space.jpg');
    background-size: cover;
  }

section.diagram *:not(canvas) {
    position: relative;
    z-index: 2;
}

.problem h1 {
    text-transform: uppercase;
}

section.diagram h1 {
    border-bottom: 1px solid ;
    margin: 0;
}

section.diagram h1::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 8rem;
    height: 3.2rem;
    
    background-color: var(--background-light);
    z-index: 5;
    
}

section.diagram .quoteblock {
    margin: 2rem 0;
}

section.diagram canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  
    
  
}

section .inverse {
    color: var(--text-light);
}












.image-buttons-w-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.image-buttons-w-text div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    width: 15em;
    position: relative;
}

.image-buttons-w-text .caption {
    position: absolute;
    top: 100%;
    height: fit-content;
    background-color: black;
    color: var(--text-light);
   
    text-align: center;
}

.image-buttons-w-text img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
   
}

.image-buttons-w-text button, .image-buttons-w-text .button {
    position: relative;
    z-index: 1;
}